
// COLOURS:

// Plain colours, using something like http://chir.ag/projects/name-that-color/
$GRAY_MINE_SHAFT: #323232;
$GRAY_SILVER_CHALICE: #acacac;
$GRAY_CONCRETE: #ffffff;

$PURPLE_VICTORIA: #563d7c;

$BLUE_BAY_OF_MANY: #294E80;

// Meta colours
$BOOTSTRAP_BRAND: $PURPLE_VICTORIA;
$TYPESCRIPT_BRAND: $BLUE_BAY_OF_MANY;

// SPACING, ETC.
$DISPLAY_UNIT: 1rem;
$DU: $DISPLAY_UNIT;
